

.header {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  font-size: 1.5rem;
}

.results-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
