mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Comic Sans MS", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-container .logo {
  height: 40px;
  width: auto;
}

.logo-container .app-name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  display: flex;
  align-items: center;
}

mat-toolbar span:last-child button {
  font-family: "Comic Sans MS", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin-left: 1rem;
}

button.mat-accent {
  font-weight: 600;
}
