.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #6b3fa0;
  font-weight: 600;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 2rem;
  width: 90%;
}

.search-field {
  width: 100%;
  font-size: 1.1rem;
}

